<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand-cont">
      <a class="navbar-brand" href="/">
        <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712925184/Picsart_24-04-12_00-03-37-024_jwrryw.png"
          width="100"
          alt=""
          style="margin-left: 2.5rem"
        />
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <svg width="5" height="30" id="svgline">
      <path d="M 5 0 V 100" stroke="rgb(255,255,255,0.1)" stroke-width="1" />
    </svg>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item pop-out">
          <a class="nav-link" href="">What we Do?</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" href="/raf">Risk Assessment Form</a>
        </li>

        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="/lfof">LFO's Form</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href=""
            >Report Rabies in Your Area</a
          >
        </li>
         <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="https://form.jotform.com/241016476828056"
            >Get Vaccine Card</a
          >
        </li>

        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="/connect">Connect Us</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="/ourteam">Our Team</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="/#presentation"> Get Presentation </a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" href="">Login/Register</a>
        </li>
      </ul>

      <ul class="navbar-nav nav-second">
        <button class="nav-link" id="download">
          <a href="" style="appearance: none; text-decoration: none">
            <b>Get Data!</b>
          </a>
        </button>
      </ul>
    </div>
  </div>
</nav>
