<%layout("/layouts/boilerplate.ejs")%>

<div class="contactus">
  <h1 class="pop-out">Contact Us</h1>
  <br /><br />
  <div class="contact-cont">
    <div class="team-cards">
      <div class="person">
        <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712947863/WhatsApp_Image_2024-04-12_at_23.20.21_jqqzne.jpg"
        loading="lazy" alt=""/ >
        <br />
        <h2>Mr. Somesh Sinha</h2>
        <br />
        <h4>Chief Coordinator</h4>
        <p>SafeBite Surveillance</p>
        <p>+91 72248-19766</p>
        <p>someshs_c23034@students.isquareit.edu.in</p>
      </div>
      <div class="person">
        <img loading="lazy"
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930505/IMG_20240412_001043_-_Sarvesh_Panpaliya_t2amq2.jpg"
        alt=""/ >
        <br />
        <h2>Mr. Sarvesh Panpaliya</h2>
        <br />
        <h4>Head Administration</h4>
        <p>SafeBite Surveillance</p>

        <p>+91 95034-83291</p>
        <p>sarveshp_c23077@students.isquareit.edu.in</p>
      </div>
    </div>
    <br />
    <div class="map-div-contact">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121058.27554553699!2d73.62502919726565!3d18.525688399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bbe5ddb78433%3A0x9ffc078dceb84bd1!2sInternational%20Institute%20of%20Information%20Technology!5e0!3m2!1sen!2sin!4v1712923922573!5m2!1sen!2sin"
        style="border: 0; border-radius: 2rem"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
