<%layout("/layouts/boilerplate.ejs")%>

<div class="homebig" id="blur">
  <div class="home-first">
    <div class="first-video">
      <video
        playsinline=""
        id="firstvideo"
        disableremoteplayback=""
        autoplay=""
        muted=""
        loop=""
      >
        <source
          src="https://res.cloudinary.com/ddxv0iwcs/video/upload/eo_53.0,so_0/v1712925680/Rabies_-_our_time_to_act_is_now_ij28hx.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <!-- <div class="first-video">
      <video
        playsinline=""
        id="vid-back"
        disableremoteplayback=""
        autoplay=""
        muted=""
        loop=""
      >
        <source
          src="https://res.cloudinary.com/ddxv0iwcs/video/upload/v1711867732/Cutest_Puppies_Dogs_in_8K_UHD_Video_v3gpoe.mov"
          type="video/mp4"
        />
      </video>
    </div> -->
    <div class="home-first-content">
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712925184/Picsart_24-04-12_00-03-37-024_jwrryw.png"
        alt=""
        loading="lazy"
        class="first-image pop-out"
      />

      <h1 class="pop-out">
        <span><span id="ieeename">SafeBite</span> <br /> </span>Surveillance
      </h1>
      <br />
      <p class="pop-out" id="typed-text"></p>
      <br />

      <div class="for-mob-video" style="display: none">
        <video
          playsinline=""
          style="display: none"
          disableremoteplayback=""
          autoplay=""
          muted=""
          loop=""
        >
          <source
            src="https://res.cloudinary.com/ddxv0iwcs/video/upload/v1711100435/TNW_Conference_2022___The_official_aftermovie_fjxfzm.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <button class="nav-link home-join" id="download">
        <a href="" style="text-decoration: none">
          <b>Get Data !</b>
        </a>
      </button>
      <a href="#home-third" style="text-decoration: none">
        <button style="color: white" class="btn learn-more">Learn more</button>
      </a>
    </div>
  </div>
  <div class="home-second" id="home-second">
    <div class="title-line">
      <h3 class="pop-out">Some Statistics...</h3>
      <!-- <button style="color: white" class="btn btn-outline-secondary pop-out">
        View All
      </button> -->
      <!-- <ul class="navbar-nav">
        <li class="nav-item pop-out"> -->
      <!-- <a class="nav-link" target="_blank" href="/news">View All</a> -->
      <!-- </li>
      </ul> -->
    </div>
    <br /><br />
    <div class="cards">
      <div class="card">
        <div class="row g-0">
          <div>
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712926295/WhatsApp_Image_2024-04-12_at_02.49.22_1_bzmoxk.jpg"
              class="img-fluid"
              alt="A cute dog Image"
            />
          </div>
          <div class="col-md-12">
            <div class="card-body">
              <h6 class="card-title">
                Alarming Increase in Average Rabies count Per Area
              </h6>
              <p class="card-text">
                The NRCP reported 6644 cases of human rabies between 2012 and
                2022,1,3 while the NHP reported 2863 cases between 2005 and
                2020.
              </p>

              <ul class="navbar-nav">
                <li class="nav-item pop-out">
                  <!-- <a class="nav-link" target="_blank" href="/news">News</a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row g-0">
          <div>
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712926296/WhatsApp_Image_2024-04-12_at_02.49.22_2_tgobnh.jpg"
              class="img-fluid"
              alt="A cute Dog image.."
            />
          </div>
          <div class="col-md-12">
            <div class="card-body">
              <h6 class="card-title">
                Rabies occurs in more than 150 countries and territories
              </h6>
              <p class="card-text">
                Dogs are the source of the vast majority of human rabies deaths,
                contributing up to 99% of all rabies transmissions to humans.
              </p>
              <ul class="navbar-nav">
                <li class="nav-item pop-out">
                  <!-- <a class="nav-link" target="_blank" href="/news">News</a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row g-0">
          <div>
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712926296/WhatsApp_Image_2024-04-12_at_02.49.23_avh6u5.jpg"
              class="img-fluid"
              alt="A cute Dog image .."
            />
          </div>
          <div class="col-md-12">
            <div class="card-body">
              <h6 class="card-title">
                Low awareness of the need to seek health care after a dog bite
              </h6>
              <p class="card-text">
                It claims the lives of more than 55000 people each year, India
                is endemic for rabies, and accounts for 36% of the world’s
                rabies deaths.As per available information, it causes 18 000-20
                000 deaths every year.
              </p>
              <ul class="navbar-nav">
                <li class="nav-item pop-out">
                  <!-- <a class="nav-link" target="_blank" href="/news">News</a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-third">
    <div class="overlay"></div>
    <h1>We Protect The Paws.</h1>
    <br />
    <p>&hearts;&hearts;&hearts;</p>
    <h5>
      As a company, our motto "We protect the paws" <br />encapsulates our core
      values and commitment to our customers, employees, and the communities we
      serve. <br /><br />
      At the heart of our operations lies a profound dedication to safeguarding
      what matters most, whether it be the physical well-being of pets, the
      integrity of our business practices, or the preservation of our
      environment and its protection against diseases like rabies. <br /><br />
      First and foremost, our motto reflects our unwavering dedication to the
      welfare of rabie's victims. By offering a range of high-quality products
      and Data designed to shield pet's paws from harm, we not only enhance
      their comfort and mobility but also demonstrate our deep-seated compassion
      for our country's resilience towards rabies. <br /><br />
      Through rigorous research, innovation, and stringent quality control
      measures, we ensure that our protective solutions against the rabies
      provide optimal safety and peace of mind for the dogs and human beings.
    </h5>
  </div>
  <div class="home-fourth">
    <div class="row g-0 we-got">
      <div class="col-md-6 we-got-img-div">
        <img
          class="we-got-img"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712926295/WhatsApp_Image_2024-04-12_at_02.49.21_pl4cjl.jpg"
          alt="A Cute Dog Photo"
          loading="lazy"
        />
      </div>
      <div class="col-md-6 we-got-data">
        <h2>We Got The Data about Rabies.</h2>
        <div class="we-got-cards">
          <div class="we-got-card row">
            <div class="col-3"><h1>1</h1></div>
            <div class="col-9">
              <h4>We Surveillance the Verified Rabie's Data from Experts.</h4>
            </div>
          </div>
          <div class="we-got-card row">
            <div class="col-3"><h1>2</h1></div>
            <div class="col-9">
              <h4>We Optimize and Equate The Data according to Your Need.</h4>
            </div>
          </div>
          <div class="we-got-card row">
            <div class="col-3"><h1>3</h1></div>
            <div class="col-9">
              <h4>We Provide Solutions to Your Data Needs .</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-poster-div">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712924409/IMG_20240411_112504_zpmmqs.jpg"
      loading="lazy"
      alt=""
    />
  </div>
  <div class="" id="presentation">
    <iframe
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712927079/SafeBite-Surveillance._Startup_Surge_1_whpyu1.pdf"
      frameborder="0"
    ></iframe>
    <br><br>
    <div class="demo-btn">
      <a href="/sendemail" class="btn btn-primary"
        >Send Email to LiveStock Field Officer</a
      >
    </div>
  </div>
</div>
<script>
  function checkWidth() {
    var newsCards = document.querySelectorAll(".home-second .card");
    var screenWidth = window.innerWidth;
    if (screenWidth < 769) {
      // Adjust this threshold as needed
      newsCards.forEach((element) => {
        element.classList.add("pop-out-active");
      });
    } else {
    }
  }

  // Initial check
  checkWidth();

  //first p's moving text
  const text = "Bridging the Gap, Healing the Chain.";
  const delay = 200; // Adjust the typing speed (milliseconds per character)
  function typeText() {
    if (index < text.length) {
      document.getElementById("typed-text").innerHTML += text.charAt(index);
      index++;
      setTimeout(typeText, delay);
    }
  }
  let index = 0;

  document.addEventListener("DOMContentLoaded", () => {
    let no = 23 * 1;
    if (window.scrollY == 0) {
      no += window.scrollY;
    } //if i make the no being calculated at the time of dom load then it actually works everytime otherwise it sometimes works and sometimes doesnt
    let firstVideo = document.querySelector("#firstvideo");
    firstVideo.style.marginLeft = no + "rem";

    typeText();
  });
</script>
