<%layout("/layouts/boilerplate.ejs")%>

<div class="big-div-team">
  <div class="team-banner">
    <h1 class="pop-out">The SafeBite Surveillance</h1>
    <br /><br />
    <h4 id="team-banner-h4" class="pop-out">
      Feel free to reach out to us at someone@gmail.com.in or +91 72248-19766
    </h4>
  </div>

  <div class="team-b">
    <!-- <h1 class="team-title pop-out">Overall Coordinators</h1> -->

    <div class="team-cards">
      <div class="person for-mob">
        <br /><br />
        <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930507/IMG-20240305-WA0034_-_Somesh_Sinha_jwsswb.jpg"
          loading="lazy"
          alt="Team's Photo"
        />
        <br /><br />
        <h3>Mr. Soumesh Sinha</h3>
        <h4>Chief Executive Officer</h4>
        <p>The SafeBite Surveillance, Pune</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/somesh-sinha-a8614b284?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a target="_blank" class="card-links pop-out col" href="#"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="#"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="row non-mob">
        <div class="col-md-4">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930507/IMG-20240305-WA0034_-_Somesh_Sinha_jwsswb.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Chief Executive Officer
          </h1>
          <br />
          <h2>Mr. Soumesh Sinha</h2>
          <br />
          <p>The SafeBite Surveillance, Pune</p>
          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/somesh-sinha-a8614b284?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a target="_blank" class="card-links pop-out col" href="#"
              ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="#"
              ><i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <div class="team-cards">
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930505/IMG_20240412_001043_-_Sarvesh_Panpaliya_t2amq2.jpg"
          alt="Team's Photo"
        />
        <br />
        <br />
        <h3>Mr. Sarvesh Panpaliya</h3>
        <h4>Chief Management and Financial Officer</h4>
        <p>The SafeBite Surveillance, Pune</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/sarvesh-panpaliya-a1610b27a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a target="_blank" class="card-links pop-out col" href="#"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="#"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="row non-mob">
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Chief Management and Financial Officer
          </h1>
          <br />
          <h2>Mr. Sarvesh Panpaliya</h2>
          <br />
          <p>The SafeBite Surveillance, Pune</p>
          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/sarvesh-panpaliya-a1610b27a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a target="_blank" class="card-links pop-out col" href="#"
              ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="#"
              ><i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930505/IMG_20240412_001043_-_Sarvesh_Panpaliya_t2amq2.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <div class="team-cards">
      <div class="row non-mob">
        <div class="col-md-4">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711880504/WhatsApp_Image_2024-03-31_at_15.51.11_rjjrbe.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Design and Development Head : Website
          </h1>
          <br />
          <h2>Mr. Adil Dyer</h2>
          <br />
          <p>The SafeBite Surveillance, Pune</p>
          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://twitter.com/SmileItsAdil"
              ><i class="fa-brands fa-x-twitter" style="color: black"></i>
            </a>
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/adildyer/"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href="https://www.instagram.com/riddikulus_adil/?hl=en"
              ><i class="fa-brands fa-instagram"></i>
            </a>
            <a
              target="_blank"
              class="card-links pop-out col"
              data-bs-toggle="collapse"
              data-bs-target="#message5"
            >
              <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
            </a>
            <div
              class="collapse"
              id="message5"
              style="background-color: transparent"
            >
              <div
                class="card card-body"
                style="
                  background-color: transparent;
                  border: dashed thin midnightblue;
                  padding: 0.5rem;
                  color: midnightblue;
                "
              >
                Phone No: +91 92521-80504
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711880504/WhatsApp_Image_2024-03-31_at_15.51.11_rjjrbe.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Adil Dyer</h3>
        <h4>Design and Development Head : Website</h4>
        <p>The SafeBite Surveillance, Pune</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message5"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message5"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
                color: midnightblue;
              "
            >
              Phone No: +91 92521-80504
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-a">
    <div class="team-cards">
      <div class="row non-mob">
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Chief Technology Officer
          </h1>
          <br />
          <h2>Mr. Tanish Thakare</h2>
          <br />
          <p>The SafeBite Surveillance, Pune</p>

          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/tanish-thakare-1b447a296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href=""
              ><i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930506/IMG-20240305-WA0052_-_Tanish_Thakare_alkeim.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
      </div>
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930506/IMG-20240305-WA0052_-_Tanish_Thakare_alkeim.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Tanish Thakare</h3>
        <h4>Chief Technology Officer</h4>
        <p>The SafeBite Surveillance, Pune</p>
        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/tanish-thakare-1b447a296?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href=""
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message4"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message4"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
              "
            >
              Phone No: +91 73397-55930
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <div class="team-cards">
      <div class="row non-mob">
        <div class="col-md-4">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930505/IMG_20240411_235721_-_Komal_Varale_jcflex.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Chief Sales Officer
          </h1>
          <br />
          <h2>Mr. Komal Varale</h2>
          <br />
          <p>The SafeBite Surveillance, Pune</p>

          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/komal-varale-727k50079?utm_source=share&utm_camaign=share_via&utm_content=profile&utm_medium=Android_app"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href=""
              ><i class="fa-brands fa-instagram"></i>
            </a>
            <!-- <a
              target="_blank"
              class="card-links pop-out col"
              data-bs-toggle="collapse"
              data-bs-target="#message3"
            >
              <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
            </a>
            <div
              class="collapse"
              id="message3"
              style="background-color: transparent"
            >
              <div
                class="card card-body"
                style="
                  background-color: transparent;
                  border: dashed thin midnightblue;
                  padding: 0.5rem;
                "
              >
                Phone No: +91 73397-55930
              </div>
            </div> -->
          </div>
        </div>

      </div>
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930505/IMG_20240411_235721_-_Komal_Varale_jcflex.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Komal Varale</h3>
        <h4>Chief Sales Officer</h4>
        <p>The SafeBite Surveillance, Pune</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/komal-varale-727k50079?utm_source=share&utm_camaign=share_via&utm_content=profile&utm_medium=Android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href=""
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message4"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message4"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
              "
            >
              Phone No: +91 73397-55930
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="team-a">
    <div class="team-cards">
      <div class="row non-mob">
        <div class="col-md-8">
          <h1 style="border-radius: 1.2rem; font-size: 1.6rem; margin: 1.1rem">
            Chief Operational Officer
          </h1>
          <br />
          <h2>Mr. Atharv Thorat</h2>
          <br />
          <p>The SafeBite Surveillance, Pune</p>

          <div class="socials row pop-out">
            <a
              target="_blank"
              class="card-links pop-out col"
              href="https://www.linkedin.com/in/atharv-thorat-74b923284?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
            </a>

            <a
              target="_blank"
              class="card-links pop-out col"
              style="color: rgb(239, 61, 91)"
              href=""
              ><i class="fa-brands fa-instagram"></i>
            </a>
            <!-- <a
              target="_blank"
              class="card-links pop-out col"
              data-bs-toggle="collapse"
              data-bs-target="#message3"
            >
              <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
            </a>
            <div
              class="collapse"
              id="message3"
              style="background-color: transparent"
            >
              <div
                class="card card-body"
                style="
                  background-color: transparent;
                  border: dashed thin midnightblue;
                  padding: 0.5rem;
                "
              >
                Phone No: +91 73397-55930
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930506/IMG_20240412_000252_-_Atharv_Thorat_yizhyp.jpg"
            loading="lazy"
            alt="Team's Photo"
          />
        </div>
      </div>
      <div class="person for-mob">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712930506/IMG_20240412_000252_-_Atharv_Thorat_yizhyp.jpg"
          alt="Team's Photo"
        />
        <br />
        <h3>Mr. Atharv Thorat</h3>
        <h4>Chief Operational Officer</h4>
        <p>The SafeBite Surveillance, Pune</p>

        <div class="socials row pop-out">
          <a
            target="_blank"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/atharv-thorat-74b923284?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blank"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href=""
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <!-- <a
            target="_blank"
            class="card-links pop-out col"
            data-bs-toggle="collapse"
            data-bs-target="#message4"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
          <div
            class="collapse"
            id="message4"
            style="background-color: transparent"
          >
            <div
              class="card card-body"
              style="
                background-color: transparent;
                border: dashed thin midnightblue;
                padding: 0.5rem;
              "
            >
              Phone No: +91 73397-55930
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
